<div class="row">
    <div class="col-xs-12">
        <img src="{{recipe.ImagePath}}" alt="" class="img-responsive" style="max-height: 300px">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Recipe Details : {{recipe.Name}} </h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button class="btn btn-success" (click)="AddToChoppingList()">Add To Shopping List</button>
            <button class="btn btn-primary" [routerLink]="['edit']" routerLinkActive="router-link-active" >Edit Recipe</button>
            <button class="btn btn-danger" (click)="DeleteRecipe()" >Delete Recipe</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{recipe.Description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
       <li class="list-group" *ngFor="let ingredient of recipe.Ingredients">
           {{ingredient.Name}} ({{ingredient.Amount}})
       </li>
    </div>
</div>
